<!doctype html>

<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>

    <body>
        <!-- reference the public/img folder -->
        <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
        {{{body }}}
    </body>
</html>

